<footer>
  <div class="content-container">
    <div class="navigation">
      <a [routerLink]="['/about-us']">
        About us
      </a>
      <a [routerLink]="['/contacts']">
        Contacts
      </a>
      <a [routerLink]="['/tos']">
        Terms and conditions
      </a>
    </div>
    <div class="social-media">
      <a href="https://github.com/nikolaysbv" target="_blank">
        <img src="/assets/images/github.svg" alt="GitHub link">
      </a>
      <a href="https://www.linkedin.com/in/nikolay-srebrev/" target="_blank">
        <img src="/assets/images/linkedin-in.svg" alt="LinkedIn link">
      </a>
      <a href="https://twitter.com/srebrevnikolay" target="_blank">
        <img src="/assets/images/twitter.svg" alt="Twitter link">
      </a>
    </div>
  </div>
</footer>