@import 'variables';

/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	General
\* ------------------------------------------------------------ */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

header {
  height: $headerHeight;
}

footer {
	height: $footerHeight;
}