@import '../../variables';

.home {
  height: $pageHeight;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.popular-topics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .topic-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;

    .topic-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

.manual-topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}